/*=============================
 Service Details
============================== */
.service-menu li {
  background: #f8f8f8;
  margin-bottom: 10px; }

.service-menu li a {
  display: block;
  padding: 22px 35px;
  color: #101010;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.service-menu li a:hover {
  background: #ffb923;
  color: #fff;
  margin: 0px 20px; }
