/*==========================
      Annual Report
===========================*/
.ts-annual-report {
    .annual-report-tabs-item {
        padding-left: 15px;
    }

    .ts-annual-report-menu {
        background: #edf5f8;

        a {
            border-bottom: 1px solid #fff;
            color: #252a37;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: #ff5c23;
                color: #fff;
            }
        }
    }


    .nav .nav-link.active {
        background: #ff5c23;
        color: #fff;
    }

    .column-title {
        font-size: 30px;
    }

    /*-- ts archive --*/
    .ts-archive {
        margin-top: 50px;

        .archive-list {
            border-top: 1px solid #edf5f8;

            li {
                list-style: none;
                padding: 10px 0;
                border-bottom: 1px solid #edf5f8;

                a {
                    color: #101010;
                    margin-left: 15px;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        color: #ff5c23;
                    }
                }

                &:hover {
                    color: #ff5c23;
                }
            }
        }
    }

}