/* career*/
.ts-career {
  .ads-box, .sidebar {
    margin-top: 0;
  }
}

.ts-career-wrapper {
  .column-title-large {
    margin-bottom: 50px;
  }

  p {
    margin-top: 35px;
    margin-bottom: 45px;
  }
}

.requirement-list {
  margin-left: 20px;
  display: inline-block;

  li {
    width: 50%;
    float: left;
  }
}

.application-process-img {
  height: 200px;
  width: 200px;
  text-align: center;
  border: 5px solid #edf5f8;
  border-radius: 50%;
  line-height: 200px;
  position: relative;
  display: table;
  margin: 0 auto;
}

.application-process-img:after {
  position: absolute;
  right: 80px;
  top: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/career/long-arrow.png);
  content: '';
}

.application-process-img.first:after {
  display: none;
}

.ts-application-process {
  padding: 30px;
}

.ts-application-process h3 {
  margin-top: 30px;
  font-size: 24px;
}
.ts-work-process .application-process-img {
  border: 10px solid #edf5f8;
}
.ts-work-process .application-process-img:after {
  right: 85px;
}

/* Collapse */
.card {
  
  text-align: left;
  border: none;
}

.card-header {
  background: none !important;
  color: #626c84;
  padding: 20px 0 21px;
  border-top: 1px solid rgba(0,0,0,.125) !important;
  border-bottom: none;
}

.card-header i {
  background: #2154cf;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
}

.card-body {
  border-top: none;
}

h5.mb-0 {
  margin-left: 0;
}

h5.mb-0 button {
  position: relative;
  width: 100%;
  background: none;
  text-align: left;
  padding: 0;

  &:hover {
    box-shadow: none;
  }
}



h5.mb-0 button.collapsed {
  color: #333;
}

h5.mb-0 button:before {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}

h5.mb-0 button:before,
h5.mb-0 button .collapsed:before {
  font-family: "FontAwesome";
  position: absolute;
  z-index: 0;
  font-size: 16px;
  right: 0px;
  padding: 0 5px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #101010;
}

.card-header button p {
  margin-bottom: 0px;
  font-weight: 700;
  color: #101010;
  font-size: 18px;
}

h5.mb-0 button p:hover {
  color: #ff5c23;
}

h5.mb-0 button:before {
  content: "\f068";
}

h5.mb-0 button.collapsed:before {
  content: "\f067";
}

.card-header .collapsed .show {
  border-bottom: none;
}
#accordion .card:last-child {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}


/*jobs*/


.ts-jobs-wrapper {
  padding: 50px;
  padding-bottom: 0;
}

.ts-jobs-image {
  height: 70px;
  width: 45px;
}

.jobs-content h4 {
  font-size: 18px;
  margin-top: 20px;

  a {
    color: #101010;

    &:hover {
      color: #ff5c23;
    }
  }
}

.white-bg {
  background: #fff !important;
}

.sidebar-icon path {
  fill: #fff;
}
.side-btn {
  margin-top: 20px;
}