/* Chart
================================================== */
.graph-caption {
    text-align: center;
}

.graph-caption span {
    position: relative;
    padding: 0 25px;
}

.graph-caption span:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    content: '';
    background: #ff5c23;
    border-radius: 50%;
    margin-top: -7px;
}

span.blue-round:after {
    background: rgb(33, 84, 207);
}

#graph {
    width: 85%;
    height: 350px;
    margin: 0 auto;
}