/* Contact 
======================================= */
/* Contact 1 */
.ts-contact {
  margin-top: -60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 0;
}
.ts-contact-form {
  padding: 106px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-bottom: 86px;
}



.ts-form .form-control {
  border: 1px solid #e8e8eb;
  border-radius: 0;
  margin-bottom: 25px;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
}

.ts-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ts-form .form-control.message-box {
  resize: none;
  height: 133px;
  margin-bottom: 35px;
}

.ts-form .form-control::-webkit-input-placeholder {
  color: #999999;
}

.ts-form .form-control:-ms-input-placeholder {
  color: #999999;
}

.ts-form .form-control::-ms-input-placeholder {
  color: #999999;
}

.ts-form .form-control::placeholder {
  color: #999999;
}

.ts-form .form-submit {
  text-align: right;
}

.ts-form input::-webkit-outer-spin-button,
.ts-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
select.form-control:not([size]):not([multiple]) {
  height: 50px;
  color: #999999;
}
.ts-btn-wraper .btn {
  width: 100%;
}
.ts-form-group .contactMe {
  background: none;
  border: none;
}

.ts-form-group .contactMe .select2-container .select2-selection .select2-selection__rendered {
  color: #999999;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
}

.ts-form-group .contactMe .select2-container .select2-selection {
  height: 45px;
}

.ts-contact-form .select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}

.contactMe .btn {
  border-radius: 0;
  background: #ff5c23;
  font-weight: 700;
  font-size: 14px;
  height: 45px;
  line-height: 19px;
}
.contactMe .btn:hover {
  color: #fff;
}
/* ts-widget */
.ts-widget-item:last-child {
  margin-bottom: 0;
}
.contact-bg{
  background: #f7f9fb;
}
.widget-title {
  font-size: 24px;
}
.ts-widget-area .column-title {
  margin-bottom: 50px;
}

.ts-widget-contact-info p {
  margin-bottom: 0;
}

.ts-widget-item {
  margin-bottom: 60px;
}

.ts-widget-area {
  padding: 60px 35px;
}
