/*==========================
      map area
===========================*/

.location-wrapper {
    position: relative;

    .location {
        position: absolute;
        display: inline-block;

        &.location-1 {
            top: 29%;
            left: 15%;
        }

        &.location-2 {
            top: 51%;
            left: 50%;
        }

        &.location-3 {
            right: 20%;
            top: 20%;
        }

        &.location-4 {
            top: 10%;
            left: 35%;
        }

        &.location-5 {
            left: 30%;
            bottom: 24%;
        }

        &.location-6 {
            left: 70%;
            top: 48%;
        }

        &.location-7 {
            left: 87%;
            bottom: 14%;
        }
    }
}

.location_indicator {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #ff5c23;
    border-radius: 50%;

    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        background-color: #ff5c23;
        border-radius: 50%;
        -webkit-animation: pulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
        animation: pulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    }

    &::after {
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }

    &.indicator-2 {

        &::before,
        &::after {
            animation: pulse 4s infinite cubic-bezier(0.4, 0, 1, 1) both;
            -webkit-animation: pulse 4s infinite cubic-bezier(0.4, 0, 1, 1) both;
        }
    }

    &.indicator-3 {

        &::before,
        &::after {
            animation: pulse 5s infinite cubic-bezier(0.5, 0, 1, 1) both;
            -webkit-animation: pulse 5s infinite cubic-bezier(0.5, 0, 1, 1) both;
        }
    }

    &.indicator-4 {

        &::before,
        &::after {
            animation: pulse 6s infinite cubic-bezier(0.6, 0, 1, 1) both;
            -webkit-animation: pulse 6s infinite cubic-bezier(0.6, 0, 1, 1) both;
        }
    }

    &.indicator-5 {

        &::before,
        &::after {
            animation: pulse 7s infinite cubic-bezier(0.7, 0, 1, 1) both;
            -webkit-animation: pulse 7s infinite cubic-bezier(0.7, 0, 1, 1) both;
        }
    }

    &.indicator-6 {

        &::before,
        &::after {
            animation: pulse 8s infinite cubic-bezier(0.8, 0, 1, 1) both;
            -webkit-animation: pulse 8s infinite cubic-bezier(0.8, 0, 1, 1) both;
        }
    }

    &.indicator-7 {

        &::before,
        &::after {
            animation: pulse 9s infinite cubic-bezier(0.9, 0, 1, 1) both;
            -webkit-animation: pulse 9s infinite cubic-bezier(0.9, 0, 1, 1) both;
        }
    }
}


@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 217, 204, 0.2);
        box-shadow: 0 0 0 0 rgba(255, 217, 204, 0.2);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(255, 217, 204, 1);
        box-shadow: 0 0 0 30px rgba(255, 217, 204, 1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 217, 204, 1);
        box-shadow: 0 0 0 0 rgba(255, 217, 204, 1);
    }
}

.tooltip.show {
    opacity: 1;
}

.tooltip .tooltip-inner {
    padding: 15px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    background: #edf5f8;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

}

.location-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.location-des {
    color: #001541;
}

.tooltip .arrow::before {
    color: #FFFFFF !important;
}


.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: currentColor;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: currentColor;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: currentColor;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: currentColor;
}


/*=================================
        ts map section
 =================================*/
.ts-map-sec {
    overflow: hidden;
    position: relative;

    .ts-maps-wraper {
        .map {
            height: 686px;
            width: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}