/*==========================
tab rotate 
===========================*/
@media (min-width: 992px) and (max-width: 1200px) {

     /* header social links */
    .social-links li {
        margin-right: 15px;
    }

     /* header nav */
    .header ul.navbar-nav>li {
        margin-left: 20px;

        a {
            margin-left: 0;
            font-size: 13px;
        }
    }

     /* slider item */
    .slider-item {
        .slider-content {
            padding: 310px 0 182px;
            .slider-title {
                font-size: 45px;
            }
        }
        
    }


     /* nav search */
     .nav-search {
        right: 14%;
        i {
            font-size: 15px;
        }
    }
    
    .search-block {
        right: 14%;
        .search-close {
            font-size: 25px;
        }
    }

    

     /* btn */
    .btn {
        padding: 0px 15px;
        font-size: 13px;
    }

     /* ts funfact */
    .ts-single-funfact .funfact-title {
        font-size: 14px;
    }

    .ts-single-funfact {
        padding: 0 30px;
    }
    /* about area */
    .about-area {
        .column-title {
            font-size: 31px;
        }
    }

     /* ts facts area */
    .ts-facts-area {
        .column-title {
            font-size: 35px;
        }
        .intro-right-content {
            padding: 95px 90px 64px 50px;
            display: inline-block;
        }
        .intro-right-content {
            .intro-icon span {
                font-size: 15px;
            }
        }
    }
    /* ts features */
    
    .ts-features,
    .team-area,
    .ts-work-process {
        .column-title {
            font-size: 33px;
        }
        .ts-features-content p::after {
            left: 50px;
        }
    }

     /* ts blog */

    .ts-blog {
        .single-blog {
            h3 {
                font-size: 18px;
            }
        }
    }

     /* history area*/
    .history-area {
        .history-content {
            padding-left: 35px;
            padding-right: 0;
        }
        .carousel-indicators li.active:after {
            display: none;
        }
    }

    .requirement-list li {
        width: 100%;
    }

   
    /* ts quote area*/
    .ts-quote-area {
        .column-title {
            font-size: 33px;
        }
    }
    
        .cta-centred{
            .column-title {
                font-size: 38px;
            }
        }
    
}

/*==========================
tab device 
===========================*/

@media(min-width: 768px) and (max-width: 991px) {
    
    .topbar-transparent {
        padding: 8px 0;
        .top-info li {
            margin-bottom: 5px;
        }
        li i {
            font-size: 12px;
        }
        .social-links li {
            margin-right: 4px;
        }
    }
    
    .header .navbar {
        padding: 70px 0;
        border-bottom: unset;
    }

    /* navbar toggler*/
    .navbar-light {
        .navbar-toggler {
            border-color: #fa6742;
            background-color: #fa6742;
            color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
        .navbar-toggler-icon {
            background-image: none;
            color: #fff;
            width: 30px;
            height: 20px;
            padding-top: 1px;
            font-size: 20px;
            line-height: 20px;
            margin: 12px 0;
        }
    }
    

    .nav-search {
        display: none;
    }

    .header-transparent .navbar-nav {
        background: #222;
        padding: 20px 0;
    }

    .header ul.navbar-nav>li>a {
        line-height: 40px !important;
    }

    .header .navbar .header-quote {
        display: none;
    }

    .header.header-transparent ul.navbar-nav {
        width: 100%;
        margin-top: 20px;
    }

    ul.navbar-nav li a i,
    .dropdown-submenu>a:after {
        background: #000;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }

    ul.navbar-nav>li {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    ul.navbar-nav li a {
        line-height: normal !important;
        border-bottom: 1px solid #38393d;
        padding: 15px 0;
        display: block;
        min-width: 350px;
    }

    ul.navbar-nav li:last-child a {
        border-bottom: 0;
    }

    .collapse.show {
        .dropdown-menu {
            background: #222;
        }
        .navbar-nav li .dropdown-menu li a {
            color: #fff;
        }
    }
    .header.sticky .navbar {
        padding: 20px 0;
    }
    .header.header-classic ul.navbar-nav>li>a {
        color: #fff;
    }
    .header-transparent.header-standard ul.navbar-nav > li > a{
        color: #fff;
    }
    /* slide item */
    .slider-item {
        .slider-content {
            padding: 310px 0 100px;
        }
        .slider-left-img {
            display: none;
        }

    }
    /*about area */
    .about-area .btn-area {
        margin-bottom: 50px;
    }
    /* cta area */
    .cta-area .column-title {
        font-size: 35px;
    }
    
    /* contact */
    .contact {
        margin-bottom: 30px;
    }

    /* ts facts area */
    .ts-facts-area .intro-right-content {
        margin-left: 100px;
    }

    /* history area */
    .history-area {
        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active{
            display: inline-block;
        }
        .carousel-indicators li {
            margin-left: 0;
            margin-right: 0;
        }
        .carousel-indicators li.active:after {
            display: none;
        }
        .history-content {
            padding-left: 47px;
            max-height: none;
        }
        .history-img img {
            width: 100%;
        }
    }
    

    /* team */
    .ts-team-wrapper {
        text-align: center;
    }

    .team-area .team-name {
        font-size: 20px;
    }

    /* ts annual report */
    .ts-annual-report {
        .annual-report-tabs-item {
            .column-title {
                font-size: 35px;
            }
        }

    }

    /* sidebar */
    .ads-box .btn,
    .sidebar .btn {
        padding: 0 22px;
    }

    .ads-box-wrapper,
    .widget {
        padding: 30px 8px;
    }

    .ads-box-wrapper .column-title,
    .sidebar .column-title {
        font-size: 25px;
    }

    /* ts features */

    .ts-features-content {
        text-align: left;
        p {
            padding-left: 20px;
            &::after {
                left: 0;
            }
        }
    }

    .requirement-list li {
        width: 100%;
    }

    .column-title-large {
        line-height: 70px;
        font-size: 40px;
    }

    .service-details-text,
    .project-details-text {
        margin-top: 30px;
    }
    .ts-branches-wrapper {
        margin-bottom: 70px;
    }
    .ts-jobs-wrapper {
        padding: 0;
    }
    .about-gallery .gallery-3 {
        margin-top: 30px;
    }
    
    .ts-service-wrapper.side-border {
        border: none;
    }
    
    .ts-service-wrapper.bottom-border {
        border: none;
    }
    
    .ts-blog .two {
        border-left-color: #d2d2d2;
        border-right-color: #d2d2d2;
    }
    
}

/*==========================
small device /mobile sm and large
===========================*/
@media (max-width: 767px) {
    
    /* topbar transparent */
    .topbar-transparent {
        text-align: center;
        .top-info li {
            margin-bottom: 8px;
        }
        .social-links {
            text-align: center;
            margin-top: 5px;
        }
    }

    .header.sticky .navbar {
        padding: 20px 0;
    }
    .header .navbar {
        padding: 120px 0;
        border-bottom: unset;
    }


    .navbar-light {
        .navbar-toggler {
            border-color: #fa6742;
            background-color: #fa6742;
            color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
        .navbar-toggler-icon {
            background-image: none;
            color: #fff;
            width: 30px;
            height: 20px;
            padding-top: 1px;
            font-size: 20px;
            line-height: 20px;
            margin: 12px 0;
        }
        
    }

    .nav-search {
        display: none;
    }

    .header-transparent .navbar-nav {
        background: #222;
        padding: 20px 0;
    }

    .header ul.navbar-nav>li>a {
        line-height: 40px !important;
    }

    .header .navbar .header-quote {
        display: none;
    }

    .header.header-transparent ul.navbar-nav {
        width: 100%;
        margin-top: 20px;
    }

    .header ul.navbar-nav li .dropdown-menu {
        padding: 10px 0;
    }

    .header ul.navbar-nav li .dropdown-menu li a {
        padding: 12px 30px;
    }

    ul.navbar-nav li a i,
    .dropdown-submenu>a:after {
        background: #000;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }

    ul.navbar-nav>li {
        display: block;
        padding-right: 20px !important;
    }

    ul.navbar-nav li a {
        line-height: normal !important;
        border-bottom: 1px solid #38393d;
        padding: 15px 0;
        display: block;
        min-width: 350px;
    }

    ul.navbar-nav li:last-child a {
        border-bottom: 0;
    }

    .collapse.show .dropdown-menu {
        background: #222;
    }

    .collapse.show .navbar-nav li .dropdown-menu li a {
        color: #fff;
    }

    .header.header-classic ul.navbar-nav>li>a {
        color: #fff;
    }
    .header-transparent.header-standard ul.navbar-nav > li > a{
        color: #fff;
    }
    .quote-btn.btn {
        display: none;
    }

    .nav-search {
        display: none;
    }
    .slider-item {
        .slider-content {
            .slider-title {
                font-size: 40px;
            }
        }
        .slider-left-img {
            display: none;
        }
    }
    .about-area {
        .btn-area {
            margin-bottom: 50px;
        }
    }

    .cta-area {
        text-align: center;
        .column-title {
            font-size: 40px;
        }
        .btn-area {
            margin-top: 25px;
            text-align: center;
        }

    }
    /* ts features */
    .ts-features {
        .section-title {
            font-size: 30px;
        }
        .ts-features-content {
            text-align: left;
            p{
                padding-left: 20px;
                &::after {
                    left: 0;
                }
            }
        }
        
    }

    .ts-service-area .ts-service-wrapper .service-box-info {
        padding-right: 165px;
    }
    /* ts location */
    .location-wrapper {
        .map-image {
            display: none;
        }
        .location {
            display: block;
            position: static;
            margin-bottom: 30px;
            float: left;
            width: 50%;
            display: inline-block;
        }
    }

    .location_indicator {
        display: none;
    }
    .ts-footer .footer-social li a i {
        width: 28px;
        height: 28px;
        line-height: 28px;
    }

    /* ts annual report */
    .ts-annual-report {
        .annual-report-tabs-item {
            .column-title {
                font-size: 35px;
            }
        }

    }

    /* history area */
    .history-area{
        .carousel-item-prev,
        .carousel-item-next,
        .carousel-item.active {
            display: inline-block;
        }
        .carousel-indicators li{
            margin-left: 0;
            margin-right: 0;
        }
        .carousel-indicators li.active:after {
            display: none;
        }
    } 
    
    .requirement-list li {
        width: 100%;
    }
    .ts-partner-list {
        grid-template-columns: repeat(1, 1fr);
        li:before, li:after {
            display: none;
        }
    }
    .ts-jobs-wrapper {
        margin-bottom: 50px;
    }
    .service-details-text,
    .project-details-text {
        margin-top: 30px;
    }
    .ts-branches-wrapper {
        margin-bottom: 70px;
    }
    .ts-footer .week-schedule li{
        width: 70%;
    }
    .about-gallery .gallery-3 {
        margin-top: 30px;
    }
    
    .ts-service-wrapper.side-border {
        border: none;
    }
    
    .ts-service-wrapper.bottom-border {
        border: none;
    }
    
    .ts-blog .two {
        border-left-color: #d2d2d2;
        border-right-color: #d2d2d2;
    }
    .ts-service-strategic .ts-service-wrapper .service-box-info {
        padding-right: 0;
    }
}