/*=============================
 Service Details
============================== */
.service-menu {

    li {
        border-bottom: 1px solid #fff;
        padding: 0 29px;

        &:hover {
            background: #ff5c23;
            color: #fff;
        }
    }

    a {
        display: block;
        padding: 17px;
        color: #252a37;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

.widget.no-padding {
    padding: 0;
}
.ts-service-details-wrapper {
    .intro-video .intro-bg {
        min-height: 280px;
    }
    .requirement-list li {
        width: 100%;
    }
}


.work-process-list {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    &:after {
        position: absolute;
        left: 20px;
        top: 0;
        width: 1px;
        height: 95%;
        content: '';
        border: 1px dashed #ffae99;
        z-index: -1;
    }
    li {
        position: relative;
        margin-bottom: 30px;
    }
}
.working-num {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    background: #ff5d34;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 0;
}
.facilities li {
    width: 100%;
}
.title-regular {
    font-weight: 300;
}
.working-text {
    left: 60px;
    top: 5px;
    padding-left: 60px;
}