
$open-sans: 'Open Sans',sans-serif;
$Zilla: 'Zilla Slab', serif;



$white-color: #fff;
$primary-color: #ff5c23;
$primary-dark: #d20055;
$secondary-color: #3b1d82;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;
$black-color: #101010;
$gray-fourty-color: #666666;
$alice-blue-bg: #edf5f8;
